// Full hd
@media only screen and (max-width:1500px){
    // 
}

// custom for project
@media screen and (max-width:1400px){
    .main{
        background-position:40% ;
    }
    // .container{
    //     width: 1100px;
    //     }
}

// Large Devices Wide Screen
@media only screen and (max-width:1200px){
//container
.container{
    width: 970px;
    padding: 0 15px
};

// header
.logo-title{
    max-width: 17rem;
}
.header__button{
    width: 145px;
    height: 53px;
    padding: 8px
    
};
.header__button_description{
    font-family: "OpenSans-Bold_700";
    font-size: 1.2rem;
    line-height: 1.5rem;
};
.workind-time_description{
    margin-left: 15px;
}
.phone-number{
    font-size: 2rem;
}

// slider
    .slider__carousel li{
        width: calc(100%/4);
    };
    .slider-arrow:last-child{
        display:block;
        };
    .decoration__carousel li{
        width: calc(100%/3);
    }    

    // glazing tabs
    .glazing__container{
        padding: 80px 15px 10px
    }
    .glazingTabs-card{
        padding: 45px 25px 20px;
    }
    .price-container p{
        width:150px;
        white-space:inherit;
    };

    // decoration
    .decorationTabs__wrapper{
        // height:970px ;
        height:1020px ;
    }
    .decorationTabs__img{
        margin-right: 40px;
    }
    .decorationTabs__content_wrapper{
        gap: 50px;
    }
    .decorationTabs__content_form-container{
        top: 500px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
    }
    .decorationTabs__content_form-container form{
        width: 455px;
    }
    // galery
    .works__container {
        padding: 50px 15px 80px;
    }
    .works__galery{
        grid-template-columns: 1fr 1fr 1fr;
    }
//    contacts
.map{
    width:455px ;
}
.address{
    // margin-left: 30px;
    width: 455px;
    // width: 300px;
    white-space: normal;
}
.address p{
    width: 100%;
}
// footer
.footer__container{
    padding: 40px 0;
} 
}

// Medium Devices Desktop
@media only screen and (max-width:992px){

    .container{
        width: 100%;
        max-width: 750px;
    }
    // header
    .header__logo{
        flex-direction: column;
        align-items: flex-start
    };
    .logo-title{
        // text-align: center;
        margin: 0 ;
    }
    .workind-time_description p{
        font-size: 1.3rem;
    }
    .workind-time_description span{
        font-size: 1.6rem;
    }
    .phone-number{
        font-size: 1.4rem;
    }
    .order-call{
        font-size: 1.15rem;
    }

    // main
    .main{
        height: fit-content;
        padding:70px 0 ;
        background: url("./img/main/bg.png") ;
    background-position: 13%;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .container__main{
        flex-direction: column;
        align-items: center;
    }
    
    .main__content{
        align-items: center;
    }
    .main__info{
        text-align: center;
    }
    .main__info_options{
        margin: 50px 0 60px;
        gap: 70px;
    }

    // slider
    .slider__carousel li{
        width: calc(100%/3);
    };
    // glazing tabs
    .glazingTabs__wrapper{
        flex-direction: column;
        // align-items: center;
    }
    .glazingTabs-card{
        max-width: 1000px;
        margin-bottom: 50px;
    }
    .glazingTabs-card__img-wrapper img{
        width: 600px;
    }
    .glazingTabs-card__description-list{
        padding: 0 100px;
    }
    .glazingTabs-card__price{
        justify-content: center;
    }
    // decoration carousel
    .decoration__carousel li{
        width: calc(100%/2);
    }  

    // decoration tabs
    .decorationTabs__wrapper{
        height:1580px ;
    }
.decorationTabs__card {

    flex-direction: column;
    align-items: center;
   
}
.decorationTabs__img{
    margin: 0;
    min-width: 370px;
    height: auto;
}
    .decorationTabs__content_form-container{
        top: 1050px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
    }

    // galery
    .works__galery{
        grid-template-columns: 380px 380px;
        justify-items: center;
        justify-content: center;
    }

// payment section
.payment__row{
    justify-content: center;
    gap: 40px;
}
.payment__item a{
    display: flex;
    flex-direction: column;
}
.payment__item a span{
    width: 200px;
    text-align: center;
    margin: 20px 0 10px;
}


// sale section
.sale{
  background-position: right;
background-size: cover;
padding: 50px 0;
}
.sale__container {
display: flex;
flex-direction: column;
align-items: center;
}
.sale__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.sale__info h2{
    margin-bottom: 30px;

}
.sale__info p{
    // text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
    // guarantie
    .guarantee__block{
       display: grid;
       grid-template-columns: 350px 350px;
       justify-content: center;
       justify-items: center
    }
    .guarantee__block li{
        width: calc(33.3333333333% - -128px); 
    }
// contacts

.contacts__map-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    width: 100%;
}
.address{
    width: 100%;
    margin-top: 30px;
}

// feedback
.fedback__container {
    flex-direction: column;
    align-items: center
};
.fedback__container p{
    margin: 0 0 20px ;
}
// footer
}

//Small Devices Tablets
@media only screen and (max-width:768px){
    .slider__carousel li{
        width: calc(100%/2);
    };
    .decoration__carousel li{
        width: calc(100%);
    }  
.container{
    max-width: 100%;
}
 // header
 .header-inner{
    flex-direction: column;
    gap: 20px;
   
}
    .header__logo{
    width: 100%;
    align-items: center;
}
 
    .logo-title{
    max-width: 100%;
    margin-top: 10px;
    }
   
//  main
.main{
    
    width: 100%;
}
.main__info_options{
    max-width: 768px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 21px;
    column-gap: 268px;
};

.options__icon-container:nth-child(even){
    margin-right: 0;
}
.modal-window__container{
    width: 100%;
}
.modal-window__container form{
    width: 100%;
}
// decoration
.decoration{
    // width: 760px;
}
.decoration__header h2{
    font-size: 2.8rem;
}
.decoration__slider-wrapper{
    padding: 80px 0 50px;
}

.slider-arrow:last-child{
    right: 15px;
}
.slider-arrow{
    top: 60%;
    
}
.decorationTabs__wrapper{
    height:1850px ;
}
.decorationTabs__img{
    min-width: 370px;
    // height: 500px;
}
.decorationTabs__content_wrapper{
    grid-template-columns: 1fr 1fr;
    column-gap: 180px;
    
}
.decorationTabs__content_form-container{
    top: 1320px;
    width: 100%;
}
.decorationTabs__content_form-container form{
    width: 100%;
}
// galery
.works__galery{
    grid-template-columns: 1fr;
}
.works__galery_bigImg{
    width: 500px;
}
// guarantee
.guarantee{
    // width: 768px;
    padding: 50px 0;
}
.guarantee__header{
    font-size: 2.8rem;
}
.guarantee__block{
    row-gap: 10px;
}
.guarantee__block p{
font-size: 1.5rem;
}
// payment
.payment__header{
font-size: 2.8rem;
}
.payment__row{
    flex-direction: column;
    align-items: center
}
// sale
.sale{
    // width:768px;
}
.sale-window__container{
    width: 100%;
}
.sale-window__container form{
    width: 100%;
}
// fedback
.fedback{
    // width: 768px;
}
.footer__contacts-wrapper{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    // position: absolute;
    
}
.footer__logo{
    margin-bottom: 20px;
}
.footer__contacts{
    position: static;
    margin-bottom: 30px;
}
.footer__contacts a,
.footer__contacts p{
    text-align: center;
}
}
// Extra Small Devices Phones
@media  only screen and (max-width: 576px){
//main
.main{
    padding: 30px;
}
.main__info_title {
font-size: 1.5rem;
}
.main__info_price{
    font-size: 3rem;
    margin-top: 10px;
}
.main__info_options{
    column-gap: 150px;
}
.modal__title{
    font-size: 1.5rem;
}
.modal__title span{
    font-size: 2rem;
} 

.slider__carousel li{
    width: calc(100%);
};  
.active-border{
    border-top: none;
}
// glazing
.glazing__container{
    padding: 24px 15px 10px;
}
.glazing__header{
    margin-bottom:12px ;
}
.glazing__header h2{
    font-size: 2rem;
}
// decoration
.decoration__container{
    padding-top: 24px;
}
.decoration__header h2{
    font-size: 2rem;
}
.decorationTabs__img{
    min-width: 355px;
}
.decorationTabs__content_wrapper{
    column-gap: 35px;
}
// decoration slider
.decoration__slider-wrapper{
    padding: 38px 0 23px;
}
// gallery
.works__container {
    padding: 40px 15px 40px;
}
.works__header h2{
    font-size: 2rem;
}
.works__header{
    margin-bottom: 40px;
}
.works__galery_bigImg{
    max-width: 500px;
}
// guaranty
.guarantee{
    padding: 30px 0 40px;
}
.guarantee__header{
    margin-bottom: 32px;

}
.guarantee__header h2{
    font-size: 2rem;
}
.guarantee__block{
    grid-template-columns:1fr 1fr;
   
}

// pay
.payment{
padding: 30px 0;
}
.payment__header{
    font-size: 2rem;
    margin-bottom: 40px;
}
.payment__row{
    gap: 23px
}
.payment__item a > span{
    font-size:1.5rem;
}
// sale
.sale{
    padding: 40px 0;
}
.sale__info h2{

    font-size: 3rem;
    margin: 0 0 20px;
}
.sale__info p{

    font-size: 1.8rem;
}
// contacts
.contacts{
    padding: 30px 0;
}
.contacts__header{
    margin-bottom: 40px;
}
.contacts__header h2{
    font-size: 2rem;
}
// feedback
.fedback{
    padding: 48px 0;
}
.fedback__container p{
    font-size: 2rem;
}
.fedback__container a{
    font-size: 1.5rem;
}
.address h3{
    margin-bottom: 10px;
}
.address p,
.address a {
    font-size: 1.5rem;
}

}
@media only screen and (max-width:480px){
.slider__carousel li{
    width: calc(100%);
}
// glazing
.glazingTabs-card{
    margin-bottom: 15px;
}
.glazingTabs-card__description-list{
    padding: 0 5px;
}
.glazingTabs-card__price{
    flex-direction: column;
    align-items: center;
}
.price-container{
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
}
.price-container h3{
    margin-bottom: 5px;
}
// guarantee
.guarantee__block li{
    width: calc(33.3333333333% + 100px);
}
// galery
.works__galery_bigImg{
    max-width: 320px;
}

}

// Custom iphone retina
@media only screen and (max-width:320px){
    // 
}

