// Full hd
@media only screen and (max-width:1500px){
    // 
}

// custom for project
@media screen and (max-width:1400px){
    .main{
        background-position:48% ;
    }

}

// Large Devices Wide Screen
@media only screen and (max-width:1200px){
    .slider__carousel li{
        width: calc(100%/4);
    };
    .slider-arrow:last-child{
        display:block;
        };

    .decoration__carousel li{
        width: calc(100%/3);
    }    
   
}

// Medium Devices Desktop
@media only screen and (max-width:992px){
    .slider__carousel li{
        width: calc(100%/3);
    };
    .decoration__carousel li{
        width: calc(100%/2);
    }  
}

//Small Devices Tablets
@media only screen and (max-width:768px){
    .slider__carousel li{
        width: calc(100%/2);
    };
    .decoration__carousel li{
        width: calc(100%);
    }  
}
// Extra Small Devices Phones
@media only screen and (max-width:480px){
    .slider__carousel li{
        width: calc(100%);
    }
}

// Custom iphone retina
@media only screen and (max-width:320px){
    // 
}

