   
@font-face {
    font-family: "OpenSans-Bold_700";
    src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBold_600";
    src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "OpenSans-Medium_500";
    src: url("fonts/OpenSans-Medium.ttf");
}
@font-face {
    font-family: "OpenSans-Regular_400";
    src: url("fonts/OpenSans-Regular.ttf");
}