@import "./variables.scss";
@import "./fonts.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    color: var( --blackTxt);
}
// -----------------------Header
.header{
    padding: 20px 0;
    // background-color: antiquewhite;
}
.container{
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 15px;
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__logo{
    display: flex;
    align-items: center;
}

.logo-title{
    font-family: "OpenSans-Regular_400";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: var( --blue);
    max-width: 30rem;
    margin: 0 20px ;
}
.header__button{
    display: flex;
    align-items: center;
    width: 160px;
   background-color: var( --whiteTxt);
    border-radius: 10px;
    border: 2px solid var(--green);
    padding: 11px;
    cursor: pointer;
}
.header__button_description{
    // margin:0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: var(--green);
    font-family: "OpenSans-Bold_700";
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.header__button_icon{
    // margin-right: 10px;
}
.header__workind-time{
    display: flex;
    align-items: center;
}
.workind-time_description{
    margin-left: 20px;
}

.workind-time_description p{
    font-family: "OpenSans-Regular_400";
    font-size: 1.5rem;
}
.workind-time_description span{

    font-family: "OpenSans-Bold_700";
    font-size: 1.8rem;
}
.header__contacts{
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: flex-end;
}
.contact-phone{
    // display: table-cell;
    // vertical-align: middle;
    display: flex;
    align-items: center;

}
.phone-number{
    font-family: "OpenSans-Bold_700";
    font-size: 2.5rem;
}
.phone-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
.phone-icon img{
    width: 100%;
}
.order-call{
    font-family: "OpenSans-Regular_400";
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--blue);
    margin-top: 5px;
}
// ----------------------------main
.main{

    width: 100%;
    height: 640px;
    background-image: url("./img/main/bg.png");
    background-repeat: no-repeat;
    padding: 131px 0 120px;
    // background-position: 48% ;

}

.container__main{
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
}
// -----------------------title
.main__content{
    display: flex;
    flex-direction: column;

}
.main__info_title{
    font-family: "OpenSans-Bold_700";
    font-size:2.5rem ;
    
}
.main__info_price{
    font-family: "OpenSans-Bold_700";
    font-size:5.5rem ;
    margin-top: 2rem;
}
// ------------------main icons 
.main__info_options{
    display: flex;
    align-items: flex-end;
    gap: 35px;
    margin-top: 125px;
}
.options__icon-container{
    position: relative;
    width: 110px;
}
.options__icon-container img{
    width: 100%;
}
.options__icon_title{
    font-family: "OpenSans-Bold_700";
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--whiteTxt);

    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    text-align: center;

//    display: flex;
//    flex-direction: column;
//    align-items: center;
}
// .options__icon_title > div{
//     text-align: center;
// }

// ------------modal window
.status{
    color: var(--red);
    font-family: "OpenSans-Regular_400";
    font-size: 1.5rem;
    margin-top: 5px;
}
.modal-window__container{
    margin-left: 200px;
}
.modal-window{
    background-color:var(--whiteTxt);
    width: 360px;
    // height: 450px;
    border-radius: 10px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__title{
    font-family: "OpenSans-Bold_700";
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.modal__title span {
    font-size: 2.2rem;
    text-align: center;
}
.modal__input{
    width: 100%;
    font-family: "OpenSans-Regular_400";
    font-size: 1.5rem;
    text-align: center;
    // color: var(--gray);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--gray); 
    border-radius: 10px;
    outline: none;
}
.modal__input:focus {
    border: 1px solid var( --blue);
    box-shadow: 0px 0px 11px -1px rgba(13,143,227,0.53);
  }

//    disappear placeholder
.modal__input:focus::-webkit-input-placeholder {
  color: transparent
}

.modal__input:focus::-moz-placeholder {
  color: transparent
}

.modal__input:focus:-moz-placeholder {
  color: transparent
}

.modal__input:focus:-ms-input-placeholder {
  color: transparent
}
//      / /  disappear placeholder

.modal__button{
    border: 1px solid var(--orange);
    width: 100%;
    background: var(--yellowBtn);
    font-family: "OpenSans-Bold_700";
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 25px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 2px rgba(252,180,73,0.59);
    cursor: pointer;
}
.modal__info{
    font-family: "OpenSans-Regular_400";
    font-size: 1.3rem;
}

// --------------popup
// .popup__container{
//     width: 100%;
//     height: 100vh;
//     background-color:var(--popupBackground);
//     z-index: 999;
//     position:fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
    
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // pointer-events: none;
//     // opacity: 0;
//     display: none;
    
// }
.popup__container_style{
    width: 100%;
    height: 100vh;
    background-color:var(--popupBackground);
    z-index: 999;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // pointer-events: none;
    // opacity: 0;
    display: none;
    
}
.popup__style{
        width: fit-content;
    max-height: fit-content;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}
// .popup{
//     width: fit-content;
//     max-height: fit-content;
//     top: 100px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: absolute;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: row-reverse;
// }
.popup__close-button{
  margin-left: 20px;
  cursor: pointer;
}
.popup__close-button svg{

align-items: center;
    width:25px;  
    height: 25px;  
}
.popup__close-button path{
    fill:var(--whiteTxt);
}

// media queries
@import "./_adaptive.scss";